.btn-main{
	background:$orange;
	display:inline-block;
	width:auto;
	height:46px;
	padding:0 28px;
	margin-top:30px;
	border:2px solid $orange;
    font-size:14px;
	font-weight:600;
	color:white;
	line-height:44px;
	letter-spacing:1px;
	text-transform:uppercase;
	text-shadow:none;
	position:relative;
	@include box-shadow(none);
	@include border-radius(3px);
	@include transition(all 0.15s ease-out 0s);
	z-index:9;
	&:hover{
		background:transparent!important;
		border-color:$orange;
		color: $orange;
		text-decoration:none;
	}
}
.btn-main:before{
	background:#91AD89;
	position:absolute;
	left:0;
	top:0;
	width:100.2%;
	height:100%;
	@include transform(scaleX(0.2));
	@include transition(all 0.5s ease-out 0s);
	content:"";
	z-index:-1;
	opacity:0;
	&:hover:before{
		@include transform(scaleX(1));
		opacity:1;
	}
}