select{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
::selection {
	background:#ff841b;
	color:white;
	text-shadow:none;
}
::-moz-selection {
	background:#ff841b;
	color:white;
	text-shadow:none;
}
input[type=text]{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}